/target/
/pkg/
*.pkg.tar*
*.pkg.tar.*
/src/big-search/
/src/big-search.service
/packaging/arch/src/
/packaging/arch/pkg/
/packaging/arch/*.pkg.tar*
/packaging/arch/*.pkg.tar.*
/packaging/arch/test-tmp/
/test-tmp/
